<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>    
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>DXStyle</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <appSettings>
    <!-- Current Date - Testing Only.  Use this with caution and not in Production ! -->
    <!-- <add key="CurrentDate" value="7/1/2011" /> -->

    <!-- Database Connection Strings -->

    <!--<add key="SQLMonitorDBConnection" value="Data Source=LPSQLMGMT01v,1630;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->

    <!--<add key="SQLMonitorDBConnection" value="Data Source=LDSQLI33V,1631;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <!--<add key="SQLMonitorDBConnection" value="Data Source=LDSQLI33V,1631;Initial Catalog=SQLMonitorDB;User ID=SMonitor;Password=Pa$$word1;Pooling=False"/>-->

    <!--<add key="SQLMonitorDBConnection" value="Data Source=CHRDEV2;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <!--<add key="SQLMonitorDBConnection" value="Data Source=A097921NYP;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->

    <add key="SQLMonitorDBConnection" value="Data Source=VNCSQLServer;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>
    <!--<add key="SQLMonitorDBConnection" value="Data Source=TRON;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <!--<add key="SQLMonitorDBConnection" value="Data Source=TRON;Initial Catalog=SQLMonitorDB;User ID=sa;Password=k33p0ut!"/>-->
    <!--<SQLMonitorDBConnection>Data Source=MATRIX;Initial Catalog=SQLMonitorDB;Integrated Security=True</SQLMonitorDBConnection>-->

    <add key="ADByPass" value="true"/>

    <add key="AD_Domain" value="VNC.LOCAL"/>
    <add key="AD_Path" value="/"/>
    <add key="ADGroup_Administrators" value="EyeOnLife_Admins"/>
    <add key="ADGroup_BetaUsers" value="EyeOnLife_BetaUsers"/>
    <add key="ADGroup_Users" value="EyeOnLife_Users"/>

    <add key="AD_Users_AllowAll" value="true"/>

    <!--<add key="DefaultUITheme" value="DXStyle" />
    <add key="DefaultUITheme" value="DeepBlue" />
    <add key="DefaultUITheme" value="LightGray" />
    <add key="DefaultUITheme" value="MetropolisDark" />-->
    <add key="DefaultUITheme" value="MetropolisLight"/>
    <!--<add key="DefaultUITheme" value="Office2007Black" />
    <add key="DefaultUITheme" value="Office2007Blue" />
    <add key="DefaultUITheme" value="Office2007Siliver" />
    <add key="DefaultUITheme" value="Office2010Black" />
    <add key="DefaultUITheme" value="Seven" />
    <add key="DefaultUITheme" value="VS2010" />-->

  <!--
        public enum Mode : int
        {
            Basic = 1,
            Advanced = 2,
            Administrator = 4,
            Beta = 8
        }
  -->
        
    <add key="DefaultUserMode" value="1" />
    <add key="DefaultViewMode" value="15" />

    <!--
          Tooltip
          SelectedRow
          DetailedRows
          None  
    -->
    <add key="DefaultRowDetailMode" value="Tooltip" />

    <add key="LKUP_FileName" value="Test Data\EyeOnLifeLKUPData.xml"/>

    <add key="SMTP Server" value="smtp.pacificlife.net" />
    <add key="Email To" value="crhodes@harborsys.com" />
    <add key="Email CC" value="" />

    <!-- ApplicationDataSet Table Load Settings -->

  </appSettings>
  
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" fileName="C:\Temp\LogFiles\VNCAssemblyViewer.log" header="" footer="" formatter="FlatFile Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

      <add name="Formatted EventLog TraceListener" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

      <add name="Formatted EventLog TraceListener_SQLInfo" source="SQLINFOAGENT" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

      <add name="RFF_Listener_EyeOnLife" fileName="C:\Temp\LogFiles\VNCAssemblyViewer.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Hour" formatter="FlatFile Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

      <add name="Rolling Flat File Trace Listener_SQLInfo" fileName="C:\Temp\LogFiles\VNCAssemblyViewer.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Hour" formatter="FlatFile Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)}
Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message}
Category: {category}
Priority: {priority} Severity: {severity}
Process: {processName} - {processId}
Thread: {threadName} - {win32ThreadId}
User:{keyvalue(User Name)}
Title:{title}
EventId: {eventid}
Machine: {machine}
Application Domain: {appDomain}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="ErrorLog Formatter"/>
      <add template="{timestamp(local)}|{category}|{priority}|{severity}|{eventid}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile Formatter"/>
      <add template="TimeStamp {timestamp(local)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add name="Priority Filter" minimumPriority="0" maximumPriority="100" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="VNCAssemblyViewer">
        <listeners>
          <add name="RFF_Listener_EyeOnLife"/>
        </listeners>
      </add>
      <add switchValue="All" name="SQLInformation">
        <listeners>
          <add name="RFF_Listener_EyeOnLife"/>
        </listeners>
      </add>
      <add switchValue="All" name="SQLINFOAGENT">
        <listeners>
          <add name="Rolling Flat File Trace Listener_SQLInfo"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
</configuration>