<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <connectionStrings>
    <add name="VNCwucPicker.Properties.Settings.VNCConnectionString"
      connectionString="Data Source=CRHODES-DEV;Initial Catalog=VNC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FF_Listener" fileName="C:\Temp\LogFiles\VNCDxWPFWindowApp.log" header="" footer="" formatter="FlatFile Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

      <add name="FEL_Listener" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

      <add name="RFF_Listener" fileName="C:\Temp\LogFiles\VNCDxWPFWindowApp.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Hour" formatter="FlatFile Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </listeners>
    <formatters>
      <add name="ErrorLog Formatter" template="Timestamp: {timestamp(local)}&#xD;&#xA;Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority} Severity: {severity}&#xD;&#xA;Process: {processName} - {processId}&#xD;&#xA;Thread: {threadName} - {win32ThreadId}&#xD;&#xA;User:{keyvalue(User Name)}&#xD;&#xA;Title:{title}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"











    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="FlatFile Formatter" template="{timestamp(local)}|{category}|{priority}|{severity}|{eventid}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="Text Formatter" template="TimeStamp {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"













    type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </formatters>
    <logFilters>
      <add name="Priority Filter" minimumPriority="0" maximumPriority="10010" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="RFF_Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="APPNAME">
        <listeners>
          <add name="RFF_Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="RFF_Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!-- Current Date - Testing Only.  Use this with caution and not in Production ! -->
    <!-- <add key="CurrentDate" value="7/1/2011" /> -->
    <!--<add key="ConnectionString" value="server='TRON'; database=SmartDiagramming;User Id=SmartsAdmin;Password=SmartsAdmin"/>-->
    <add key="ConnectionString" value="Data Source=CRHODES-DEV;Initial Catalog=VNC;Integrated Security=True" />
    <add key="Enforce Security" value="false" />    
    <add key="ADByPass" value="true" />
    <add key="SMTP Server" value="LifeMail700.devlifeint.devpl01.net" />
    <add key="Email To" value="crhodes@pacificlife.com" />
    <add key="Email CC" value="crhodes@pacificlife.com" />
    <add key="Email From" value="MCR-iDev@pacificlife.com" />
    <add key="Email Subject PEReport" value="Information: MCR Processing and Error Report" />
    <!--<add key="AD_Domain" value="LIFE.PACIFICLIFE.NET"/>-->
    <add key="AD_Domain" value="VNC.LOCAL" />
    <add key="ADGroup_Administrators" value="EyeOnLife_Admins" />
    <add key="ADGroup_BetaUsers" value="EyeOnLife_BetaUsers" />
    <add key="ADGroup_Users" value="EyeOnLife_Users" />
    <add key="AD_Users_AllowAll" value="true" />
    <!--<add key="DefaultUITheme" value="DXStyle" />
    <add key="DefaultUITheme" value="DeepBlue" />
    <add key="DefaultUITheme" value="LightGray" />
    <add key="DefaultUITheme" value="MetropolisDark" />-->
    <add key="DefaultUITheme" value="MetropolisLight" />
    <!--<add key="DefaultUITheme" value="Office2007Black" />
    <add key="DefaultUITheme" value="Office2007Blue" />
    <add key="DefaultUITheme" value="Office2007Siliver" />
    <add key="DefaultUITheme" value="Office2010Black" />
    <add key="DefaultUITheme" value="Seven" />
    <add key="DefaultUITheme" value="VS2010" />-->
    <add key="DefaultUserMode" value="1" />
    <add key="DefaultViewMode" value="1" />
    <add key="DefaultRowDetailMode" value="Tooltip" />
    <add key="SMTP Server" value="smtp.pacificlife.net" />
    <add key="Email To" value="crhodes@PacificLife.com" />
    <add key="Email CC" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
