<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString"
            connectionString="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString1"
            connectionString="Data Source=a097912x0p\sql2008;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString2"
            connectionString="Data Source=TRONW8;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString3"
            connectionString="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;User ID=Smonitor;Password=Pa$$word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>