<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" fileName="C:\Temp\LogFiles\SQLInformation_DataLoadService.log" header="" footer="" formatter="FlatFile Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      
      <add name="Formatted EventLog TraceListener" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      
      <add name="Formatted EventLog TraceListener_SQLInfo" source="SQLINFOAGENT" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

      <add name="RFF_Listener_EyeOnLife" fileName="C:\Temp\LogFiles\EyeOnLife.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Hour" formatter="FlatFile Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      
      <add name="Rolling Flat File Trace Listener_SQLInfo" fileName="C:\Temp\LogFiles\SQLInformation_DataLoadService.log" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="Hour" formatter="FlatFile Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp(local)}
Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message}
Category: {category}
Priority: {priority} Severity: {severity}
Process: {processName} - {processId}
Thread: {threadName} - {win32ThreadId}
User:{keyvalue(User Name)}
Title:{title}
EventId: {eventid}
Machine: {machine}
Application Domain: {appDomain}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="ErrorLog Formatter"/>
      <add template="{timestamp(local)}|{category}|{priority}|{severity}|{eventid}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile Formatter"/>
      <add template="TimeStamp {timestamp(local)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add name="Priority Filter" minimumPriority="0" maximumPriority="100" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="EyeOnLife">
        <listeners>
          <add name="RFF_Listener_EyeOnLife"/>
        </listeners>
      </add>
      <add switchValue="All" name="SQLInformation">
        <listeners>
          <add name="RFF_Listener_EyeOnLife"/>
        </listeners>
      </add>      
      <add switchValue="All" name="SQLINFOAGENT">
        <listeners>
          <add name="Rolling Flat File Trace Listener_SQLInfo"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="EyeOnLife.Properties.Settings.SQLMonitorDBConnectionString" connectionString="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EyeOnLife.Properties.Settings.SQLMonitorDBConnectionString1" connectionString="Data Source=A097912X0p\2008;Initial Catalog=SQLMonitorDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EyeOnLife.Properties.Settings.SQLMonitorDBConnectionString2" connectionString="Data Source=TRONW8;Initial Catalog=SQLMonitorDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EyeOnLife.Properties.Settings.SQLMonitorDBConnectionString3" connectionString="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;User ID=Smonitor;Password=Pa$$word1" providerName="System.Data.SqlClient"/>
    <add name="EyeOnLife.Properties.Settings.SQLMonitorDBConnectionString4" connectionString="Data Source=A097912X0P\sql2008;Initial Catalog=SQLMonitorDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- Current Date - Testing Only.  Use this with caution and not in Production ! -->
    <!-- <add key="CurrentDate" value="7/1/2011" /> -->
    <!-- Database Connection Strings -->

    
    <!--<add key="SQLMonitorDBConnection" value="Data Source=LDSQLI33V,1631;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <add key="SQLMonitorDBConnection" value="Data Source=LDSQLI33V,1631;Initial Catalog=SQLMonitorDB;User ID=SMonitor;Password=Pa$$word1;Pooling=False"/>
    <!--<add key="SQLMonitorDBConnection" value="Data Source=A097921NYP;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <!--<add key="SQLMonitorDBConnection" value="Data Source=a097912x0p\sql2008;Initial Catalog=SQLMonitorDB;Integrated Security=True" />-->
  
    <!--<add key="SQLMonitorDBConnection" value="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;Integrated Security=True"/>-->
    <!--<SQLMonitorDBConnection>Data Source=MATRIX;Initial Catalog=SQLMonitorDB;Integrated Security=True</SQLMonitorDBConnection>-->
    <add key="SQLInformationAgent ConnectionTimeout" value="30"/>
    <!-- LoginSecure = true uses Windows Credentials  LoginSecure = false uses SQL Authentication -->
    <add key="SQLInformationAgent LoginSecure" value="false"/>
    <add key="SQLInformationAgent UserName" value="SMonitor"/>
    <add key="SQLInformationAgent Password" value="Pa$$word1"/>

    <!-- DataLpader timing settings -->
    <!-- How long the scheduler waits between Daily Cycles -->
    <add key="LoadCycle_Daily_Run" value="true"/>
    
    <add key="LoadCycle_Daily_StartTime" value="11:30 AM"/>
    <!--<add key="Scheduler ReStartTime" value="1 day" />-->
    <add key="LoadCycle_Daily_ReStartTime" value="3 minute"/>
    <!-- How long the scheduler waits between Daily Cycles -->

    <add key="LoadCycle_IntraDay_Run" value="false"/>
    
    <add key="LoadCycle_IntraDay_StartTime" value="07:34 PM"/>
    <!--<add key="Scheduler ReStartTime" value="1 day" />-->
    <add key="LoadCycle_IntraDay_ReStartTime" value="1 minute"/>
    <!-- How long the scheduler waits between Daily Cycles -->

    <add key="LoadCycle_Weekly_Run" value="false"/>
    
    <add key="LoadCycle_Weekly_StartTime" value="07:34 PM"/>
    <!--<add key="Scheduler ReStartTime" value="1 day" />-->
    <add key="LoadCycle_Weekly_ReStartTime" value="1 minute"/>
    <!-- Email Settings -->
    
    <add key="SMTP Server" value="LifeMail700.devlifeint.devpl01.net"/>
    <add key="Email To" value="crhodes@pacificlife.com"/>
    <add key="Email CC" value="crhodes@pacificlife.com"/>
    <add key="Email From" value="MCR-iDev@pacificlife.com"/>
    <add key="Email Subject PEReport" value="Information: MCR Processing and Error Report"/>

    <!--<add key="DefaultUITheme" value="DXStyle" />
    <add key="DefaultUITheme" value="DeepBlue" />
    <add key="DefaultUITheme" value="LightGray" />
    <add key="DefaultUITheme" value="MetropolisDark" />-->
    <add key="DefaultUITheme" value="MetropolisLight"/>
    <!--<add key="DefaultUITheme" value="Office2007Black" />
    <add key="DefaultUITheme" value="Office2007Blue" />
    <add key="DefaultUITheme" value="Office2007Siliver" />
    <add key="DefaultUITheme" value="Office2010Black" />
    <add key="DefaultUITheme" value="Seven" />
    <add key="DefaultUITheme" value="VS2010" />-->

    <add key="LKUP_FileName" value="Test Data\EyeOnLifeLKUPData.xml"/>

    <add key="ExpandSetting_Database_Default" value="2047"/>
    <add key="ExpandSetting_JobServer_Default" value="65535"/>

    <add key="ExpandSetting_IntraDay_Database" value="15"/>
    <add key="ExpandSetting_IntraDay_JobServer" value="65535"/>
    <add key="ExpandSetting_IntraDay_Instance" value="5"/>

    <add key="ExpandSetting_Daily_Database" value="2047"/>
    <add key="ExpandSetting_Daily_JobServer" value="65535"/>
    <add key="ExpandSetting_Daily_Instance" value="127"/>

    <add key="ExpandSetting_Weekly_Database" value="2047"/>
    <add key="ExpandSetting_Weekly_JobServer" value="65535"/>
    <add key="ExpandSetting_Weekly_Instance" value="127"/>

    <add key=""/>
    <!-- Default Screen Size -->
    
    <add key="ScreenWidth_SplashScreen" value="900"/>
    <add key="ScreenHeight_SplashScreen" value="600"/>
    
    <!--<add key="ScreenWidth_Admin" value="1400"/>
    <add key="ScreenHeight_Admin" value="1000"/>

    <add key="ScreenWidth_Explore" value="1500"/>
    <add key="ScreenHeight_Explore" value="1100"/>-->

    <add key="ScreenWidth_Admin" value="1400"/>
    <add key="ScreenHeight_Admin" value="1000"/>

    <add key="ScreenWidth_Explore" value="1400"/>
    <add key="ScreenHeight_Explore" value="1000"/>
    
    <!-- ApplicationDataSet Table Load Settings -->
    
    <add key="ADSLoad_DatabaseInfo" value="true"/>
    <add key="ADSLoad_Databases" value="true"/>
    <add key="ADSLoad_DBDataFileInfo" value="true"/>
    <add key="ADSLoad_DBDataFiles" value="true"/>
    <add key="ADSLoad_DBDdlTriggers" value="true"/>
    <add key="ADSLoad_DBFileGroups" value="true"/>
    <add key="ADSLoad_DBLogFileInfo" value="true"/>
    <add key="ADSLoad_DBLogFiles" value="true"/>
    <add key="ADSLoad_DBRoles" value="true"/>
    <add key="ADSLoad_DBStoredProcedures" value="true"/>
    <add key="ADSLoad_DBStoredProcedureContent" value="false"/>    
    <add key="ADSLoad_DBTables" value="true"/>
    <add key="ADSLoad_DBUserDefinedFunctions" value="true"/>
    <add key="ADSLoad_DBUsers" value="true"/>
    <add key="ADSLoad_DBViews" value="true"/>
    <add key="ADSLoad_InstanceInfo" value="true"/>
    <add key="ADSLoad_Instances" value="true"/>
    <add key="ADSLoad_JobServers" value="true"/>
    <add key="ADSLoad_JSAlertCategories" value="true"/>
    <add key="ADSLoad_JSAlerts" value="true"/>
    <add key="ADSLoad_JSJobCategories" value="true"/>
    <add key="ADSLoad_JSJobs" value="true"/>
    <add key="ADSLoad_JSJobSchedules" value="true"/>
    <add key="ADSLoad_JSJobSteps" value="true"/>
    <add key="ADSLoad_JSOperatorCategories" value="true"/>
    <add key="ADSLoad_JSOperators" value="true"/>
    <add key="ADSLoad_JSProxyAccounts" value="true"/>
    <add key="ADSLoad_JSSharedSchedules" value="true"/>
    <add key="ADSLoad_JSTargetServerGroups" value="true"/>
    <add key="ADSLoad_JSTargetServers" value="true"/>
    <add key="ADSLoad_LinkedServers" value="true"/>
    <add key="ADSLoad_LKUP_ADDomains" value="true"/>
    <add key="ADSLoad_LKUP_Environments" value="true"/>
    <add key="ADSLoad_Logins" value="true"/>
    <add key="ADSLoad_ServerInfo" value="true"/>
    <add key="ADSLoad_ServerRoles" value="true"/>
    <add key="ADSLoad_Servers" value="true"/>
    <add key="ADSLoad_TBTriggers" value="true"/>
    <add key="ADSLoad_VWTriggers" value="true"/>
    
  </appSettings>
</configuration>
