<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Data" #>
<#@ import namespace="System.Data.SqlClient" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
System.Data.SqlClient.SqlConnection conn = new System.Data.SqlClient.SqlConnection("");
#>
<#
SqlConnection conn2 = new SqlConnection("");
#>