<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveView" />
                <binding name="BasicHttpBinding_ILiveView1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/LiveViewListenerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveView"
                contract="ServiceReference1.ILiveView" name="BasicHttpBinding_ILiveView" />
            <endpoint address="http://localhost:8090/LiveViewListenerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveView1"
                contract="ServiceReference1.ILiveView" name="BasicHttpBinding_ILiveView1" />
        </client>
    </system.serviceModel>
</configuration>