<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" 
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="Modules/ModuleD.dll" 
            moduleType="ModuleD.ModuleDModule, ModuleD, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
            moduleName="ModuleD" 
            startupLoaded="true" />
  </modules>
</configuration>