<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString"
            connectionString="Data Source=parthenon;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString1"
            connectionString="Data Source=a097912x0p\sql2008;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString2"
            connectionString="Data Source=A097921NYP;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString3"
            connectionString="Data Source=PARTHENON;Initial Catalog=SQLMonitorDB;User ID=Smonitor;Password=Pa$$word1"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString4"
            connectionString="Data Source=LDSQLI33V\REL02;Initial Catalog=SQLMonitorDB;User ID=SMonitor;Password=Pa$$word1"
            providerName="System.Data.SqlClient" />
        <add name="SQLInformation.Properties.Settings.SQLMonitorDBConnectionString5"
            connectionString="Data Source=ldsqli33v\rel02;Initial Catalog=SQLMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>